.wrapper
{
    border: 1px solid red;
}
.header,.footer
{
    background-color: rgb(3, 3, 79);
    padding: 50px 0px;
}
.menu
{
    background-color: lightgray;
    padding: 10px 0px;
}
.left,.right
{
    padding: 250px 0px;
    background-color: lightgoldenrodyellow;
}
.content
{
    padding: 250px 0px;
    background-color: rgb(31, 116, 116);
}
.logo
{
    height: 100px;
    background-color: aliceblue;
}
.socialIcon
{
    border: 1px solid red;
}